@*
    A component with child content.
*@

@namespace R5T.R0003


<h3>Component08</h3>

<p>Start</p>

@ChildContent

<p>End</p>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
