@*
    The IHtmlHelper.RenderComponentAsync() method cannot handle the @layout directive.
    Can it handle a component that contains a component that uses a layout?
    Result: NO!
*@

@namespace R5T.R0003

<h3>Component07</h3>

<Component06/>

@code {

}
