@*
    An extremely basic component.
    This component has no complications. It does *not* have:
        * A code-behind file.
        * Any complex C# (like the nameof() operator)
        * Any parameters.
*@

@namespace R5T.R0003


<p>Hello from Component01!</p>
